<div class="container pt-4">
  <div class="row">
    <!--List of user's shipping addresses-->
    <div *ngIf="!emptyAddressList() && !addressFormEdit">
      <div class="col-sm-4 pb-4 mx-auto">
        <h3>Select a Shipping Address</h3>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="main">
            <div *ngFor="let address of addresses; let index = index">
              <div class="card cardlist" (click)="onSelectAddress(address)">
                <div class="card-header">
                  <span class="fw-bold">Address n°{{ index + 1 }}</span>
                </div>
                <div class="card-body">
                  <p class="fs-6">
                    <span class="fw-bold">Country:</span> {{ address.country }}
                  </p>
                  <hr />
                  <p class="fs-6">
                    <span class="fw-bold">City:</span> {{ address.city }}
                  </p>
                  <p class="fs-6">
                    <span class="fw-bold">PostCode:</span>
                    {{ address.postCode }}
                  </p>
                  <p class="fs-6">
                    <span class="fw-bold">Street:</span> {{ address.street }}
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-end pt-4">
            <button mat-raised-button color="warn" (click)="onAddAddress()">
              Add a Shipping Address
            </button>
          </div>
        </div>
      </div>
    </div>
    <!--Shipping address form-->
    <div *ngIf="emptyAddressList() || addressFormEdit">
      <div class="col-sm-6 pb-4 mx-auto">
        <h3>Fill out the shipping address form</h3>
      </div>
      <div class="row">
        <div class="col-sm-8 pt-4 mx-auto">
          <div class="card">
            <div class="card-header fw-bold">Add a shipping adress</div>
            <form [formGroup]="addressForm">
              <div class="ms-3 pt-3 form-group">
                <p>
                  <label for="country"><h6>Country:</h6></label>
                  <select
                    type="country"
                    id="country"
                    formControlName="country"
                    class="form-control"
                  >
                    <option
                      *ngFor="let country of countries | async"
                      [value]="country.name"
                    >
                      {{ country.name }}
                    </option>
                  </select>
                </p>
                <p>
                  <label for="postCode"><h6>Postcode:</h6></label>
                  <input
                    type="postCode"
                    id="postCode"
                    formControlName="postCode"
                    class="form-control"
                    autocomplete="on"
                  />
                  <span
                    *ngIf="
                      !addressForm.get('postCode')?.valid &&
                      addressForm.get('postCode')?.touched
                    "
                    >Enter a valid Postcode* (only numeric values)</span
                  >
                </p>
                <p>
                  <label for="city"><h6>City:</h6></label>
                  <input
                    type="city"
                    id="city"
                    formControlName="city"
                    class="form-control"
                    autocomplete="on"
                  />
                  <span
                    *ngIf="
                      !addressForm.get('city')?.valid &&
                      addressForm.get('city')?.touched
                    "
                    >Enter a valid city*</span
                  >
                </p>
                <p>
                  <label for="street"><h6>Street:</h6></label>
                  <input
                    type="street"
                    id="street"
                    formControlName="street"
                    class="form-control"
                    autocomplete="on"
                  />
                  <span
                    *ngIf="
                      !addressForm.get('street')?.valid &&
                      addressForm.get('street')?.touched
                    "
                    >Enter a valid street*</span
                  >
                </p>
              </div>
            </form>
            <div class="d-flex justify-content-end me-3 pt-3 pb-4">
              <button
                mat-raised-button
                color="warn"
                (click)="onSelectAddressForm()"
                [disabled]="addressForm.invalid"
              >
                Select Address
              </button>
            </div>
          </div>
          <div class="pt-4">
            <button
              mat-stroked-button
              color="warn"
              (click)="onAddAddress()"
              [disabled]="emptyAddressList()"
            >
              Go to address list
            </button>
          </div>
        </div>
        <app-alert
          [message]="error"
          *ngIf="error != ''"
          (close)="onHandleError()"
        ></app-alert>
        <mat-spinner *ngIf="isLoading"></mat-spinner>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-10 mx-auto message">
        <div *ngIf="message != ''" class="alert alert-success">
          <p>{{ message }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
