<div class="container">
  <div class="row">
    <div class="card">
      <div class="card-body">
        <form [formGroup]="signupForm">
          <div class="form-group">
            <p>
              <label for="email"><h6>Email:</h6></label>
              <input
                type="email"
                id="email"
                formControlName="email"
                class="form-control"
                autocomplete="on"
              />
              <span
                *ngIf="
                  !signupForm.get('email')?.valid &&
                  signupForm.get('email')?.touched
                "
                >Enter a valid email*</span
              >
            </p>
            <p>
              <label for="password"><h6>Password:</h6></label>
              <input
                id="password"
                type="password"
                formControlName="password"
                class="form-control"
              />
              <span
                *ngIf="
                  !signupForm.get('password')?.valid &&
                  signupForm.get('password')?.touched
                "
                >Enter a valid password*
                <p>(Your password must be 8 characters long at least)</p>
              </span>
            </p>
            <div class="pe-sm-5">
              <button
                mat-raised-button
                color="primary"
                type="submit"
                class="btn btn-primary mb-2"
                [disabled]="signupForm.invalid"
                (click)="onLogin()"
              >
                Login
              </button>
              <hr />
              Don't have an account yet?
              <button
                mat-raised-button
                color="accent"
                type="submit"
                class="btn btn-primary mt-3"
                [disabled]="signupForm.invalid"
                (click)="onSignup()"
              >
                Signup
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
