*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header-container {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  width: 100%;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0);
  background: hsla(0, 0%, 100%, 0.9);  
  margin: 0 auto;
  font-size: 62.5%;
}


.navbar-container {
  display: flex;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
  font-size: 62.5%;
}

nav a {
  text-decoration: none;
  color: #000;
}

.gender-links {
  font-size: 1.2rem;
  width: 50%;
}

.fa-grip-lines-vertical {
  margin: 1rem;
}

.brand {
  font-size: 2rem;
  text-decoration: none;
}

.cart {
  display: flex;
  margin-right: 2rem;
}

.right-links {
  display: flex;
  justify-content: space-around;
  font-size: 1.2rem;
  width:50%;
}

.gender-links a:hover {
  color: rgb(179, 117, 60);
}

.cart {
  font-size: 1.3rem;
  text-decoration: none;
  color: #000;
}

.text-quantity {
  margin-left: 0.5rem;
  color: #000;
}

.nav-item{
  cursor:pointer;
}

@media screen and (max-width: 768px) {
  .gender-links {
  }
  .right-links {
  }
}
