.main {
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

.image {
  width: 70%;
  margin: 15px 15px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

.card {
  width: 80%;
  text-align: center;
  align-items: center;
  border-radius: 0%;
  background-color: white;
  border: 1px solid black;
}
.cart-button {
  width: 80%;
}

.link {
  color: black;
}
