<nav class="header-container">
  <div class="navbar-container">
    <!--gender-->
    <div class="gender-links">
      <a
        routerLink="/homme"
        routerLinkActive="active"
        class="men"
        (click)="setGender('M')"
        >homme</a
      >
      <i class="fas fa-grip-lines-vertical"></i>
      <a
        routerLink="/femme"
        routerLinkActive="active"
        class="women"
        (click)="setGender('F')"
        >femme</a
      >
    </div>

    <!--E-commerce Brand-->
    <a routerLink="/" class="brand">Shop</a>

    <div class="right-links">
      <!--authentication-->
      <a
        *ngIf="!isLoggedIn"
        routerLink="/connexion"
        routerLinkActive="active"
        class="fa fa-user auth"
      >
      </a>

      <!--logout-->
      <a
        *ngIf="isLoggedIn"
        class="nav-item"
        routerLink="/home"
        (click)="logout()"
      >
        Logout
      </a>

      <!--profile-->
      <a
        *ngIf="isLoggedIn"
        routerLink="/profile"
        routerLinkActive="active"
        class="fa fa-user"
      >
      </a>

      <!--Cart-->
      <app-cart-status class="cart"></app-cart-status>
    </div>
  </div>
</nav>
