*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.men-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  overflow: hidden;
  background: url(https://ecommerce-luxe-images.s3.eu-west-3.amazonaws.com/home/men.jpg);
  background-position: center;
  background-size: cover;
  background-image: top;
  height: 100vh;
}

.women-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  overflow: hidden;
  background: url(https://ecommerce-luxe-images.s3.eu-west-3.amazonaws.com/home/women.jpg);
  background-position: center;
  background-size: cover;
  background-image: top;
  height: 100vh;
}

.gender-btn {
  padding: 15px 30px;
}
