<footer class="bg-light">
  <div class="container py-5">
    <div class="row py-4">
      <div class="col-lg-4 col-md-6"></div>
      <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
        <h6 class="text-uppercase font-weight-bold mb-4">Shop</h6>
        <ul class="list-unstyled mb-0">
          <li class="mb-2">
            <a routerLink="/products/women" class="text-muted">For Women</a>
          </li>
          <li class="mb-2">
            <a routerLink="/products/men" class="text-muted">For Men</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
        <h6 class="text-uppercase font-weight-bold mb-4">Company</h6>
        <ul class="list-unstyled mb-0">
          <li class="mb-2">
            <a routerLink="/auth" class="text-muted">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Copyrights -->
  <div class="bg-light py-4">
    <div class="container text-center">
      <p class="text-muted mb-0 py-2">© 2022 MyShop All rights reserved.</p>
    </div>
  </div>
</footer>
