<footer>
  <div class="footer-container">
    <div class="brand-footer">
      <span class="brand-name-title">Shop</span>
      <p class="footer-txt">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam id
        dolorem corrupti ipsam nam explicabo
      </p>
    </div>

    <div class="customer-service-footer">
      <span class="customer-service-title">Service Client</span>
      <ul>
        <li><a href="#">Livraison et retour</a></li>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Contactez-nous</a></li>
        <li><a href="#">La carte du magasin</a></li>
        <li><a href="#">Conditions Générales de Vente</a></li>
      </ul>
    </div>

    <div class="payment-methods">
      <span class="payment-methods-title">Moyens de paiement</span>
      <ul>
        <img
          src="../../../assets/ressources/Mastercard-logo.svg"
          alt="mastercard-icon"
        />
        <img
          src="../../../assets/ressources/Mastercard-logo.svg"
          alt="mastercard-icon"
        />
      </ul>
    </div>

    <div class="about-footer">
      <span class="brand-name">Notre boutique</span>
      <ul>
        <li><a href="#">Qui sommes-nous ?</a></li>
        <li><a href="#">Carrières</a></li>
        <li><a href="#">Relations Presse et Partenariat</a></li>
      </ul>
    </div>

    <div class="medias-footer">
      <span class="medias-title">Suivez-nous</span>
      <ul>
        <a href="#"
          ><img
            src="../../../assets/ressources/facebook.svg"
            alt="facebook-icon"
        /></a>
        <a href="#">
          <img src="../../../assets/ressources/twitter.svg" alt="twitter-icon"
        /></a>
      </ul>
    </div>

    <p class="copyright">ShopApp © 2022</p>
  </div>
</footer>

<!-- <footer class="bg-light">
  <div class="container py-5">
    <div class="row py-4">
      <div class="col-lg-4 col-md-6"></div>
      <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
        <h6 class="text-uppercase font-weight-bold mb-4">Shop</h6>
        <ul class="list-unstyled mb-0">
          <li class="mb-2">
            <a routerLink="/products/women" class="text-muted">For Women</a>
          </li>
          <li class="mb-2">
            <a routerLink="/products/men" class="text-muted">For Men</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
        <h6 class="text-uppercase font-weight-bold mb-4">Company</h6>
        <ul class="list-unstyled mb-0">
          <li class="mb-2">
            <a routerLink="/auth" class="text-muted">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  Copyrights -->
<!-- <div class="bg-light py-4">
    <div class="container text-center">
      <p class="text-muted mb-0 py-2">© 2022 MyShop All rights reserved.</p>
    </div>
  </div>
</footer>  -->
