.main {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: center;
}

.card {
  width: 300px;
  min-width: 0%;
  margin: 5px;
}

img {
  box-sizing: border-box;
  max-width: 100%;
  width: 100%;
}
