<img *ngIf="brand$ | async" [src]="(brand$ | async)?.image_url" />
<video
  *ngIf="(video$ | async) && !(brand$ | async)"
  [src]="video$ | async"
  type="video/mp4"
  loop
  autoplay
  muted
></video>

<nav class="navbar">
  <ul>
    <li class="brands-dropdown">
      <a [routerLink]="['./marques']"> Marques </a>

      <ul class="brands-dropdown-content">
        <ng-container *ngFor="let brand of brands$ | async">
          <li>
            <a
              [routerLink]="[brand.brand_category | BrandCase | HyphenateCase]"
              routerLinkActive="active"
              (click)="fetchBrandDatas(brand.id)"
            >
              {{ brand.brand_category }}
            </a>
          </li>
        </ng-container>
      </ul>
    </li>

    <li class="apparel-categories-dropdown">
      <a [routerLink]="['./pret-a-porter']"> Prêt à porter </a>

      <ul class="apparel-categories-dropdown-content">
        <ng-container *ngFor="let category of apparelCategories$ | async">
          <li>
            <a
              [routerLink]="[
                category.apparel_category | ApparelCategoryCase | HyphenateCase
              ]"
              routerLinkActive="active"
              class="item-txt"
            >
              {{ category.apparel_category }}
            </a>
          </li>
        </ng-container>
      </ul>
    </li>
  </ul>
</nav>
