<ul>
  <li *ngFor="let category of apparelcategories$ | async">
    <mat-checkbox>{{ category.apparel_category }}</mat-checkbox>
  </li>
</ul>

<!-- <div class="row">
  <div class="col-sm-12 mb-4 me-4">
    <div class="card">
      <div class="card-body">
        <h5 class="title">{{ gender | uppercase }} Apparels</h5>
        <hr />
        <mat-radio-group class="radio-group">
          <mat-radio-button
            class="radio-button"
            *ngFor="let apparelCategory of apparels_categories$ | async"
            [value]="apparelCategory.id"
            [checked]="check"
            (change)="apparelsChanged(apparelCategory.id)"
            >{{ apparelCategory.apparel_category }}
          </mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
    <div class="card mt-4">
      <div class="card-body">
        <h5 class="title">Price</h5>
        <hr />
        <mat-radio-group class="radio-group">
          <mat-radio-button
            class="radio-button"
            *ngFor="let priceRangeCategory of priceRange_categories"
            [value]="priceRangeCategory.id"
            (change)="priceRangeChanged(priceRangeCategory.id)"
            >{{ priceRangeCategory.price_range_category }}
          </mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
  </div>
</div> -->
