.product-container {
  height: 100%;
  margin-top: 91.2px;
  padding: 20px;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: rgb(179, 117, 60);
}

.main {
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

.image {
  width: 70%;
  margin: 15px 15px;
}

.card {
  width: 80%;
  text-align: center;
  align-items: center;
  border-radius: 0%;
  background-color: white;
  border: 1px solid black;
}
.cart-button {
  width: 80%;
  color: #f1f1f1;
  background-color: #000;
}
