.card {
  border-radius: 0%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

mat-spinner {
  position: fixed;
  top: 50%;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: max-content;
  height: max-content;
  padding: 10px;
  z-index: 100;
}

input {
  max-width: 90%;
  width: 600px;
}

.message {
  padding-top: 10%;
  width: max-content;
}
