mat-card {
  border-radius: 4%;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
  background-color: whitesmoke;
}

mat-card-header {
  font-size: 20px;
  font-weight: 550;
  margin: 30px 30px;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

input {
  max-width: 90%;
  width: 600px;
}
