<!-- Stripe Elements Credit Card Section -->

<div class="container pt-4">
  <div class="row">
    <div class="col-sm-12">
      <h3>Debit Card</h3>

      <div class="card mb-4">
        <div id="card-element"></div>

        <!-- a Stripe element will be inserted here -->

        <!-- Used to display form errors -->
      </div>

      <div *ngIf="error != ''" class="alert alert-danger message pt-4 mx-auto'">
        {{ error }}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="d-flex justify-content-end mt-4">
      <button mat-raised-button color="warn" (click)="onSubmit()">
        Confirm Payment
      </button>
    </div>
  </div>
</div>
