<div class="global-container">
  <h3>Saisissez votre adresse de livraison</h3>

  <div class="container address-container">
    
      <div class="address-form">

        <form [formGroup]="address">

          <div class="address-form-civility">
              <mat-radio-group formControlName="civility" required>
                <mat-radio-button [value]=Mrs [checked]="address.value.civility.id==2">Mme</mat-radio-button>
                <mat-radio-button [value]=M [checked]="address.value.civility.id===1">M.</mat-radio-button>
              </mat-radio-group>
          </div>

          <div class="row">
            <div class="col-6">
              <mat-form-field appearance="outline">
                <mat-label>Prénom</mat-label>
                <input
                  matInput
                  required
                  type="text"
                  formControlName="firstName"                 
                />
                <mat-error
                  *ngIf="
                    address.pristine ||
                    (address.dirty &&
                    address.value.firstName.length === 0)
                  "
                  >Ce champ est requis.
                </mat-error>
                <mat-error
                  *ngIf="
                  address.dirty &&
                  address.value.firstName.length > 0
                  "
                  >Ce champ ne peut contenir de caractères spéciaux.
                </mat-error>
              </mat-form-field>
            </div>

            <div class="col-6">
              <mat-form-field appearance="outline">
                <mat-label>Nom</mat-label>
                <input
                  matInput
                  required
                  type="text"
                  formControlName="lastName"                      
                />
                <mat-error
                  *ngIf="
                    address.pristine ||
                    (address.dirty &&
                    address.value.lastName.length === 0)
                  "
                  >Ce champ est requis.
                </mat-error>
                <mat-error
                  *ngIf="
                  address.dirty &&
                  address.value.lastName.invalid
                  "
                  >Ce champ ne peut contenir de caractères spéciaux.
                </mat-error>
              </mat-form-field>
            </div>

            <div class="col-6">
              <mat-form-field appearance="outline">
                <mat-label>Adresse</mat-label>
                <input
                  matInput
                  required
                  type="text"
                  formControlName="street"                  
                />
                <mat-error
                  *ngIf="
                  address.pristine ||
                    (address.dirty &&
                    address.value.street.length == 0)
                  "
                  >Ce champ est requis.
                </mat-error>
                <mat-error
                  *ngIf="
                  address.dirty &&
                  address.value.street.length > 0
                  "
                  >Renseignez une adresse valide.
                </mat-error>
              </mat-form-field>
            </div>

            <div class="col-6">
              <mat-form-field appearance="outline">
                <mat-label>Complément d'adresse (optionnel)</mat-label>
                <input
                  matInput
                  type="text"
                  formControlName="addressComplement"                      
                />
              </mat-form-field>
            </div>

            <div class="col-6">
              <mat-form-field appearance="outline">
                <mat-label>Code Postal</mat-label>
                <input
                  matInput
                  required
                  type="number"
                  formControlName="postCode"                      
                />
                <mat-error
                  *ngIf="
                    address.pristine ||
                    (address.dirty &&
                    address.value.postCode.length === 0)
                  "
                  >Ce champ est requis.
                </mat-error>
              </mat-form-field>
            </div>

            <div class="col-6">
              <mat-form-field appearance="outline">
                <mat-label>Ville</mat-label>
                <input
                  matInput
                  required
                  type="text"
                  formControlName="city"                      
                />
                <mat-error
                  *ngIf="
                    address.pristine ||
                    (address.dirty &&
                    address.value.city.length === 0)
                  "
                  >Ce champ est requis.
                </mat-error>
              </mat-form-field>
            </div>

            <div class="col-6" >
              <mat-form-field appearance="outline">
                <mat-label>Pays</mat-label>
                <mat-select [compareWith]="compare" formControlName="country" required>
                  <mat-option *ngFor="let country of countries" [value]="country">{{country?.country}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="col-6">
                <mat-form-field appearance="outline">
                  <mat-label>Numéro de téléphone</mat-label>
                  <input
                    matInput
                    required
                    type="tel"
                    formControlName="phoneNumber"    
                    length="10"                  
                  />
                  <mat-error
                    *ngIf="
                      address.pristine ||
                      (address.dirty &&
                      address.value.phoneNumber.length === 0)
                    "
                    >Ce champ est requis.
                  </mat-error>
                  <mat-error
                  *ngIf="
                  address.dirty &&
                  (address.value.street.length < 10 ||
                  address.value.street.length > 10)
                  "
                  >Renseignez un numéro de téléphone à 10 chiffres.
                </mat-error>
              </mat-form-field>
            </div>

          </div>          
        </form>
        <button *ngIf="addressTotal" mat-button (click)="cancel.emit()">Annuler</button>
        <button *ngIf="editAddress" mat-button [disabled]="!address.valid" (click)="update.emit()">Modifier</button>
        <button *ngIf="!editAddress" [disabled]="!address.valid" mat-button (click)="save.emit()">Ajouter</button>
      </div>
    </div>
</div>