.container-payment{
  height: 100%;
  width: 100%;
  margin: 10px;
  padding: 20px;
}

.p-b{
  padding-bottom: 1rem;
}

.p-t{
  padding-top: 1rem;
}

.card-txt{
  display: block;
  font-size: 2rem;
}

.payment-txt{
  display: block;
  font-size: 1rem;
  font-weight: 400;
}


#card-element{  
  margin: 20px auto;
  border: 1px solid #000;
  width: 100%;
  padding: 20px;
  background-color: #f8f8f8;
}
