<div class="container">
  <div class="row">
    <div class="col-sm-4 mx-auto">
      <h3>Checkout review</h3>
    </div>
  </div>
  <div class="row">
    <!--Cart item space-->
    <div class="col-sm-6 pt-4">
      <div class="card">
        <div class="card-header fs-6 fw-bold">Cart Items</div>
        <div class="table">
          <thead>
            <tr>
              <th class="col-sm-2">Quantity</th>
              <th class="col-sm-2">Total price</th>
              <th class="col-sm-4 ps-4">Item</th>
            </tr>
          </thead>
          <div *ngFor="let orderItem of orderItems">
            <tbody>
              <tr>
                <td class="col-sm-3 ps-4">
                  {{ orderItem.quantity }}
                </td>
                <td class="col-sm-3">
                  {{ orderItem.amount | currency: "EUR" }}
                </td>
                <td class="col-sm-6">
                  <span class="pe-4">{{ orderItem.product.product_name }}</span>
                  <img
                    class="pt-3 pb-3"
                    [src]="orderItem.product.image_url"
                    [alt]="orderItem.product.product_name"
                  />
                </td>
              </tr>
            </tbody>
          </div>
        </div>
        <div class="d-flex justify-content-end fw-bold pe-4">
          Quantity: {{ order.totalQuantity }}
        </div>
        <div class="d-flex justify-content-end fw-bold pe-4 pb-2">
          Total Price: {{ order.totalPrice | currency: "EUR" }}
        </div>
      </div>
    </div>
    <div class="col-sm-6 pt-4">
      <!--Receiver info space-->
      <div class="card mb-4">
        <div class="card-header fs-6 fw-bold">Receiver info</div>
        <div class="card-body">
          <p><span class="fw-bold">First Name:</span> {{ user.firstName }}</p>
          <p><span class="fw-bold">Last Name:</span> {{ user.lastName }}</p>
        </div>
      </div>
      <!--Shipping address space-->
      <div class="card">
        <div class="card-header fs-6 fw-bold">Shipping Address</div>
        <div class="card-body">
          <p class="fs-6">
            <span class="fw-bold">Country:</span> {{ shippingAddress.country }}
          </p>

          <p class="fs-6">
            <span class="fw-bold">City:</span> {{ shippingAddress.city }}
          </p>
          <p class="fs-6">
            <span class="fw-bold">PostCode:</span>
            {{ shippingAddress.postCode }}
          </p>
          <p class="fs-6">
            <span class="fw-bold">Street:</span> {{ shippingAddress.street }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
